@font-face {
    font-family: 'ringbearermedium';
    src: url('../fonts/ringbearer.eot');
    src: url('../fonts/ringbearer.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ringbearer.woff2') format('woff2'),
    url('../fonts/ringbearer.woff') format('woff'),
    url('../fonts/ringbearer.ttf') format('truetype'),
    url('../fonts/ringbearer.svg#ringbearermedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* BASIC STYLES */

* {
    box-sizing: border-box;
}

html {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    background: url(../images/arena.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #FFFBFC;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 5pt;
    font-family: 'ringbearermedium';
    animation: fadeIn 1.25s ease-in-out 0.5s;
    animation-fill-mode: backwards;
}

h1 {
    font-size: 5vw;
    text-align: center;
    margin: 0 auto 20px auto;
    padding-top: 20px;
    text-shadow: 3px 3px black;
}

h2 {
    font-size: 1.2em;
    text-align: center;
    background-color: #C5111C;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    font-size: 1em;
}


/* WRAPPER */

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}


/* HEADER */

header {
    width: 100%;
}

main {
    margin-bottom: auto;
    position: relative;
}


/* MIDDLE */

.middle {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

h2.instructions {
    font-size: 1.8em;
    letter-spacing: 5pt;
    width: 75%;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 50px;
}

.left-ribbon,
.right-ribbon {
    position: relative;
}

.left-ribbon {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 20px;
}

.right-ribbon {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 20px;
}

/* PLAYER STAGES AND  MODULES */

.stable-container {
    width: 100%;
}

.player-stable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0 auto;
    height: 100%;
    min-height: 170px;
}

.fighter-stage,
.defender-stage {
    width: 100%;
    height: 100%;
    min-height: 200px;
    margin: 10px auto;
}

.stage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    min-height: 150px;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
}

.attack-reset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    min-height: 100px;
}

.attack-button,
.reset-button {
    cursor: pointer;
    padding: 5px;
    background-color: #FFFBFC;
    font-family: 'ringbearermedium';
    font-size: 1.1em;
    border: 2px solid #C5111C;
    border-radius: 10px;
}

.attack-button:hover,
.reset-button:hover {
    background-color: #C5111C;
    border: 2px solid #FFFBFC;
    color: #FFFBFC;
}

.damage-display {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
    width: 50%;
    height: 100%;
    min-height: 60px;
    background-color: #220901;
    font-size: .9em;
    border: solid 2px #C5111C;
    border-radius: 50px;
}

.player-module {
    position: relative;
    margin: 10px;
    width: 100%;
    max-width: 250px;
    min-height: auto;
    display: inline-block;
}

.player-module:hover {
    cursor: pointer;
}

.player-text {
    position: absolute;
    bottom: 30px;
    left: 20px;
    padding: 0;
    z-index: 900;
}

.player-health {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 1px 5px 6px;
    border-radius: 5px;
    z-index: 900;
    background-color: #C5111C;
    border: 1px solid #FFFBFC;
    font-size: 1em;
}

.player-module img.character {
    position: relative;
    width: 100%;
    max-width: 250px;
    margin: 0 auto 0 auto;
    z-index: 1;
    border-radius: 25px;
    border: 5px solid #FFFBFC;
}

.player-module img.character:hover {
    border: 5px solid #C5111C;
}

.outcome {
    background-color: #C5111C;
    border-radius: 50px;
    width: 50%;
    height: 100%;
    min-height: 60px;
}

.outcome-display {
    font-size: 4vw;
    text-shadow: 3px 3px black;
}



/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    text-align: center;
}

footer p {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.2em;
    background-color: #C5111C;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 75%;
    margin: 0 auto;
    border-radius: 50px;
}

.arial {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
}


/* ANIMATIONS */

@keyframes fadeIn {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* MEDIA QUERIES */


/* Reduced screen for flexbox */

@media screen and (max-width: 1850px) {}


/* Reduced screen */

@media screen and (max-width: 1250px) {
    h3,
    .player-health {
        font-size: .8em;
    }
    .player-module {
        margin: 10px auto;
    }
    .stable-container {
        width: 700px;
        margin: 0 auto;
    }
    .outcome, .damage-display {
        width: 100%;
        border-radius: 0;
    }
}


/* iPad Portrait */

@media screen and (max-width: 798px) {
    h2 {
        font-size: .8em;
        letter-spacing: 3pt;
    }
    h3,
    .player-health {
        font-size: .7em;
    }
    h2.instructions {
        width: 100%;
        border-radius: 0;
    }
    .player-module {
        width: 40vw;
    }
    .damage-display {
        font-size: .6em;
        letter-spacing: 2pt;
    }
    .stable-container {
        max-width: 100%;
        width: 600px;
        margin: 0 auto;
    }
    footer p {
        width: 100%;
        bottom: 0;
        font-size: .7em;
        letter-spacing: 2pt;
        border-radius: 0;
    }
    .left-ribbon {
        border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    }
    .right-ribbon {
        border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    }
}


/* Small Tablets */

@media screen and (max-width: 510px) {
    h2 {
        font-size: .7em;
    }
    h3,
    .player-health {
        font-size: .5em;
    }
    .stable-container {
        width: 100%;
    }
    .player-module img.character {
        border: 3px solid #FFFBFC;
    }
    .player-module img.character:hover {
        border: 3px solid #C5111C;
    }
.fighter-stage,
.defender-stage {
    min-height: 150px;
}
}


/* Mobile Phones */

@media screen and (max-width: 385px) {
    h2 {
        font-size: .6em;
    }
    h2.instructions {
        letter-spacing: 2pt;
    }
    .player-stable {
        min-height: 80px;
    }
    .player-text {
        bottom: 12px;
        left: 12px;
        font-size: .6em;
        letter-spacing: 2pt;
}
    .player-health {
        top: 12px;
        left: 12px;
        font-size: .6em;
        letter-spacing: 2pt;
        padding: 5px 5px 5px 6px;
        border-radius: 0;
    }
    .damage-display {
        font-size: .55em;
        letter-spacing: 1pt;
        width: 100%;
    }
    .player-module img.character {
        border-radius: 0;
    }
    .fighter-stage,
.defender-stage {
    min-height: 110px;
}
}


/* Smallest screens */

@media screen and (max-width: 350px) {
    h2 {
        font-size: .5em;
        letter-spacing: 2pt;
    }
    .player-text {
        font-size: .5em;
    }
    .player-health {
        font-size: .5em;
    }
    .damage-display {
        letter-spacing: 1pt;
        font-size: .5em;
    }
}


/* Notebook height */

@media screen and (max-height: 950px) {}


/* Shorter screens */

@media screen and (max-height: 770px) {}