@font-face {
    font-family: 'ringbearermedium';
    src: url('../fonts/ringbearer.eot');
    src: url('../fonts/ringbearer.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ringbearer.woff2') format('woff2'),
         url('../fonts/ringbearer.woff') format('woff'),
         url('../fonts/ringbearer.ttf') format('truetype'),
         url('../fonts/ringbearer.svg#ringbearermedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* BASIC STYLES */

* {
    box-sizing: border-box;
}

html {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    background: url(../images/arena.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 5pt;
    font-family: 'ringbearermedium';
    animation: fadeIn 1.25s ease-in-out 0.5s;
    animation-fill-mode: backwards;
}

h1 {
    font-size: 5vw;
    text-align: center;
    margin: 0 auto 20px auto;
    padding-top: 20px;
    text-shadow: 3px 3px black;
}

h2 {
    font-size: 1.2em;
    text-align: center;
    background-color: red;
    padding-top: 20px;
    padding-bottom: 20px; 
}

h3 {
    font-size: 1em;
}

/* WRAPPER */

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

/* HEADER */

header {
    width: 100%;
}    

main {
    margin-bottom: auto;
    position: relative;
}

/* MIDDLE */

.middle {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.instructions {
    width: 75%;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.instructions:before, .instructions:after, footer p:before, footer p:after, .damage-display:before, .damage-display:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -.3em;
   border: 1.5em solid rgba(255,0,0,.8);
   z-index: -1;
   }
.instructions:before, footer p:before, .damage-display:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   }
.instructions:after, footer p:after, .damage-display:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   }

.left-ribbon, .right-ribbon {
    position: relative;
}

.left-ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -.3em;
   border: 1.5em solid rgba(255,0,0,.8);
   z-index: -1;
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   }

   .right-ribbon:before {
   content: '';
   position: absolute;
   display: block;
   bottom: -.3em;
   border: 1.5em solid rgba(255,0,0,.8);
   z-index: -1;
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   }




/* PLAYER STAGES AND  MODULES */

.player-stable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    min-height: 150px;
}

.fighter-stage, .defender-stage {
    width: 100%;
    height: 100%;
    min-height: 200px;
    margin: 10px auto;
}

.stage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    min-height: 150px;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 10px auto;
}

.attack-reset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    min-height: 100px;
}

.attack-button, .reset-button {
    cursor: pointer;
    padding: 5px;
    background-color: white;
    font-family: 'ringbearermedium';
    font-size: 1.1em;
    border: 1px solid red;
    border-radius: 10px;
}

.attack-button:hover, .reset-button:hover {
    background-color: red;
    border: 1px solid white;
    color: white;
}

.damage-display {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
    width: 50%;
    height: 100%;
    min-height: 60px;
    background-color: red;
    font-size: .9em;
}

.player-module {
    position: relative;
    margin: 10px;
    width: 100%;
    max-width: 250px;
    min-height: auto;
    display: inline-block;
}

.player-module:hover {
    cursor: pointer;
}

.player-text {
    position: absolute;
    bottom: 30px;
    left: 20px;
    padding: 0;
    z-index: 900;
}

.player-health {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 1px 5px 6px;
    border-radius: 5px;
    z-index: 900;
    background-color: red;
    border: 1px solid white;
}

.player-module img.character {
    position: relative;
    width: 100%;
    max-width: 250px;
    margin: 0 auto 0 auto;
    z-index: 1;
    border-radius: 25px;
    border: 5px solid white;
}

.player-module img.character:hover {
    border: 5px solid red;
}

.vs {
    font-size: 4vw;
    text-shadow: 3px 3px black;
}


/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    text-align: center;
}

footer p {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.2em;
    background-color: red;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 75%;
    margin: 0 auto;
}

.arial {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
}

/* ANIMATIONS */

@keyframes fadeIn {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}